@using System.Security.Claims
@{
    var AvartarClaim = User.Claims.FirstOrDefault(c => c.Type == "Avartar");
    var Avartar = "";
    if (AvartarClaim != null)
    { Avartar = AvartarClaim.Value; }
    var roleClaim = User.Claims.FirstOrDefault(c => c.Type == "Role");
    var role = roleClaim?.Value ?? "N/A";
    var roles = Context.User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).ToList();
}


<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="@Avartar" alt="profile">
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">@User.Identity?.Name</span>
                    <span class="text-secondary text-small">@string.Join(", ", roles)  </span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Home">
                <span class="menu-title">Trang chủ</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Request">
                <span class="menu-title">Phản hồi cư dân</span>
                <i class="mdi mdi-contacts menu-icon"></i>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Quản lý dữ án </span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Building">Tòa nhà </a></li>
                    <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Apartment">Căn hộ</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Account">Cư dân </a></li>
                    <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Contract">Hợp đồng </a></li>
                    <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="WaterMeter">Đồng hồ nước</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="ElectricMeter">Đồng hồ điện</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic1">
                <span class="menu-title">Quản lý phí </span>
                <i class="mdi mdi-chart-bar menu-icon"></i>
            </a>

            <div class="collapse" id="ui-basic1">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Revenue">Danh sách công nợ </a></li>
                    <li class="nav-item"> <a class="nav-link" asp-action="PhieuThu" asp-controller="Revenue">Phiếu thu</a></li>

                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="News">
                <span class="menu-title">Truyền thông</span>
                <i class="mdi mdi-table-large menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Service">
                <span class="menu-title">Dịch vụ</span>
                <i class="mdi mdi-table-large menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-action="Manage" asp-controller="Account">
                <span class="menu-title">Ban quản lý</span>
                <i class="mdi mdi-table-large menu-icon"></i>
            </a>
        </li>
         <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="BackUp">
                <span class="menu-title">Khôi phục dự liệu</span>
                <i class="mdi mdi-table-large menu-icon"></i>
            </a>
        </li>
      

    </ul>
</nav>