<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="~/LayoutAdmin/assets/images/faces/face1.jpg" alt="profile">
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">David Grey. H</span>
                    <span class="text-secondary text-small">Project Manager</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Home" >
                <span class="menu-title">Trang chủ</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Request">
                <span class="menu-title">Phản hồi cư dân</span>
                <i class="mdi mdi-contacts menu-icon"></i>
            </a>
           
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Quản lý dữ án </span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Building">Tòa nhà </a></li>
                    <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Apartment">Căn hộ</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Account">Cư dân </a></li>
                    <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="Contract">Hợp đồng </a></li>
                    <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="WaterMeter">Đồng hồ nước</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-action="Index" asp-controller="ElectricMeter">Đồng hồ điện</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Revenue">
                <span class="menu-title">Quản lý phí </span>
                <i class="mdi mdi-chart-bar menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="News">
                <span class="menu-title">Truyền thông</span>
                <i class="mdi mdi-table-large menu-icon"></i>
            </a>
        </li>
                <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Service">
                <span class="menu-title">Dịch vụ</span>
                <i class="mdi mdi-table-large menu-icon"></i>
            </a>
        </li>
                <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="History">
                <span class="menu-title">Import dữ liệu</span>
                <i class="mdi mdi-table-large menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="History">
                <span class="menu-title">Lịch sử</span>
                <i class="mdi mdi-table-large menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">
                <span class="menu-title">Sample Pages</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-medical-bag menu-icon"></i>
            </a>
            <div class="collapse" id="general-pages">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href=""> Blank Page </a></li>
                    <li class="nav-item"> <a class="nav-link" href=""> Login </a></li>
                    <li class="nav-item"> <a class="nav-link" href=""> Register </a></li>
                    <li class="nav-item"> <a class="nav-link" href=""> 404 </a></li>
                    <li class="nav-item"> <a class="nav-link" href=""> 500 </a></li>
                </ul>
            </div>
        </li>
       
    </ul>
</nav>