<div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
    <div class="container">
        <div class="row g-2">
            <h1 style="text-align:center">
                Liên hệ
            </h1>
        </div>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
         

            <div class="entry-content" itemprop="text">
                <h2>CÔNG TY CỔ PHẦN BẤT ĐỘNG SẢN RIO LAND</h2>
                <p>
                    Trụ sở: 17 Đặng Thị Nhu, P.Nguyễn Thái Bình, Quận 1<br>
                    Chi nhánh: Block A, tòa nhà Centana Thủ Thiêm, 36 Mai Chí Thọ, Phường An Phú, Quận 2<br>
                    Hotline:&nbsp;<strong>090 888 6066</strong><br>
                    Email:&nbsp;<strong>info@rioland.vn</strong><br>
                   
                </p>
            </div><!-- .entry-content -->
        </div><!-- .entry-content -->
    </div><!-- .entry-content -->
</div><!-- .entry-content -->
