@model WaterMeter
@{
    ViewData["Title"] = "Edit";
    var ApartmentId = ViewBag.ApartmentId;
    if (Model.Status == 1)
    {
        <script>
            document.querySelector('select[name="Status"]').value = '1';
        </script>
    }
    else if (Model.Status == 2)
    {
        <script>
            document.querySelector('select[name="Status"]').value = '2';
        </script>
    }
    else if (Model.Status == 3)
    {
        <script>
            document.querySelector('select[name="Status"]').value = '3';
        </script>
    }
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">SỬA ĐỒNG HỒ NƯỚC</h4>
            <p class="card-description"> Nhập thông tin  </p>
            <form class="forms-sample" asp-action="Edit" method="post">
                <input type="hidden" asp-for="WaterMeterId" />
                <div class="form-group">
                    <label asp-for="ApartmentId" class="form-label">Căn hộ <span></span></label>
                    <input class="form-control" asp-for="ApartmentId" placeholder="Căn hộ" required readonly>
                </div>
                <div class="form-group">
                    <label>Mã đồng hồ</label>
                    <input class="form-control" asp-for="Code" placeholder="Mã đồng hồ" required readonly>
                </div>
                <div class="form-group">
                    <label>Ngày đăng ký</label>
                    <input class="form-control" asp-for="RegistrationDate" placeholder="Ngày đăng ký" required>
                </div>
                <div class="form-group">
                    <label>Chỉ số đầu</label>
                    <input class="form-control" asp-for="NumberOne" placeholder="Chỉ số đầu" required>
                </div>
                <div class="form-group">
                    <label>Chỉ số cuối</label>
                    <input class="form-control" asp-for="NumberEnd" placeholder="Chỉ số cuối" required>
                </div>
                <div class="form-group">
                    <label>Trạng Thái Căn Hộ</label>
                    <select class="form-control" asp-for="Status" placeholder="" required>
                        <option value="1" selected>Hoạt động</option>
                        <option value="2">Ngừng hoạt động</option>
                        <option value="3">Bảo trì</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-gradient-primary me-2">Sửa</button>
                <button asp-action="Index" class="btn btn-light">Trở về</button>
            </form>
        </div>
    </div>
</div>

